<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarRentals</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/airbnb.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CarRentals.styles.css" asp-append-version="true" />

</head>
<body>

    <header class="p-3 mb-0 bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


                <a class="d-flex align-items-center mb-2 mb-lg-0 mx-2 link-body-emphasis text-decoration-none text-white" asp-area="" asp-controller="Home" asp-action="Index">
                    <h3 class="fw-bold text-body-emphasis">FRIBERG CAR <span class="text-primary">RENTALS</span> </h3>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a class="nav-link px-2 text-white" asp-area="" asp-controller="Cars" asp-action="Index">Alla bilar</a></li>
                    <li><a class="nav-link px-2 text-white" asp-area="" asp-controller="Home" asp-action="Index">Bokning</a></li>
                    <li><a class="nav-link px-2 text-white" asp-area="" asp-controller="Home" asp-action="Index">Om oss</a></li>
                    <li><a class="nav-link px-2 text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>
                @await Component.InvokeAsync("UserMenu")
            </div>
        </div>
    </header>



    
        <main role="main" class="pb-3">
            @RenderBody()
        </main>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - CarRentals - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/lib/flatpickr/flatpickr.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
