
<div class="container mt-5">
    <h3>Om oss</h3>
    <p>
        Friberg Car Rentals™ grundades år 2025 av den visionära IT-gurun och superentreprenören Marcus Friberg. Med en passion för både innovation och lyx har Marcus gjort sig ett namn inom teknikbranschen, men det var hans kärlek till exklusiva bilar som lade grunden för denna unika satsning.
    </p>
    <p>
        Efter många år av att noggrant samla på sällsynta och prestigefyllda fordon, insåg Marcus att hans passion kunde delas med fler än bara den innersta kretsen.
    </p>

    <h3 class="mt-5">Värderingar</h3>
    <p>Vi tror på kvalitet. Våra bilar är som ett gott vin – ju dyrare, desto bättre! Allt vi gör är noggrant utvalt och planerat, även om det ibland också innebär att vi måste ge vår chef (läs: sambon) en extra förklaring om varför vi nu har "två Ferraris".</p>

    <h3 class="mt-5">Mål</h3>
    <p>Vårt mål är att ha Sveriges lyxigaste flotta, fordon som verkligen imponerar.</p>

    <h3 class="mt-5">Framtiden</h3>
    <p>Friberg Car Rentals™ ser fram emot att växa. Vi arbetar konstant med att köpa in dyrare och mer exklusiva lyxbilar.</p>
</div>