@model CarRentals.Data.Models.Car

@{
    ViewData["Title"] = "Create";
}

<h1 class="mx-auto mt-5">Skapa en bil</h1>
<div class="container" style="">
    <div class="row justify-content-center align-items-center" style="height: 100%;">
        <div class="col-md-6">
        <h4>Bil</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
                <div class="form-group mb-3">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
                <div class="form-group mb-3">
                <label asp-for="PricePerDay" class="control-label"></label>
                <input asp-for="PricePerDay" class="form-control" />
                <span asp-validation-for="PricePerDay" class="text-danger"></span>
            </div>
                <div class="form-group mb-3">
                <label asp-for="EnvironmentalRating" class="control-label"></label>
                <input asp-for="EnvironmentalRating" class="form-control" />
                <span asp-validation-for="EnvironmentalRating" class="text-danger"></span>
            </div>
                <div class="form-group mb-3">
                <label asp-for="NumberSeats" class="control-label"></label>
                <input asp-for="NumberSeats" class="form-control" />
                <span asp-validation-for="NumberSeats" class="text-danger"></span>
            </div>
            @for (int i = 0; i < 5; i++)
            {
                    <div class="form-group mb-3">
                    <label asp-for="ImageUrls" class="control-label"></label>
                    <input asp-for="ImageUrls" class="form-control" />
                    <span asp-validation-for="ImageUrls" class="text-danger"></span>
                </div>
            }
                <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsElectric" /> @Html.DisplayNameFor(model => model.IsElectric)
                </label>
            </div>
                <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAutomatic" /> @Html.DisplayNameFor(model => model.IsAutomatic)
                </label>
            </div>
                <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
                </label>
            </div>
                <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
            <div>
                <a asp-action="Index">Tillbaka till listan</a>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}