html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
}

.bg-primary {
    background-color: #ffc107 !important;
}

.btn-primary {
    background-color: #ffc107 !important;
}

.text-primary {
    color: #ffc107 !important;
}

hr {

    height: .5px !important;
}


.ratioimg {
    height: 60%; /* 40% of the viewport width */
    /*height: 310px;*/
    object-fit: cover;
    object-position: center;
}
.carousel {
    height: 250px;
    width:100%;
    object-fit: cover; /* Ensures the image fills the space proportionally */
    object-position: center; /* Centers the image content */
}

.carousel img{
    height:250px;
    width:100%;
    object-fit:cover;
    object-position:center;
}

.lead {
    font-size: 1.25rem;
    font-weight: 400;
}



/* Adjust layout for smaller screens */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Stack items vertically */
        text-align: center; /* Center text */
    }

    .footer-left, .footer-logo {
        margin-bottom: 10px; /* Add spacing between elements */
    }

    .footer-right {
        display: none; /* Hide the "Tillbaka till toppen" link */
    }

    .footer-left {
        order: 2; /* Ensure copyright text stays below */
    }

    .footer-logo {
        order: 1; /* Ensure logo appears above */
    }
}

/*
.carousel-inner {
    min-height: 310px;
    object-fit: cover;
}
*/


/*
.carousel{
    width:310px;
    height:310px;
}
.carousel-item {
    width:310px;
    height:310px;    
}
*/
/*
.carousel-item img {
    width:310px;
    height:310px;
}
*/

.icon {
    width:30px;
    height:30px;
}

.flatpickr-calendar {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Matches Bootstrap font */
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.flatpickr-day {
    border-radius: 0.25rem;
}

    .flatpickr-day:hover {
        background-color: #e9ecef; /* Matches Bootstrap hover color */
    }

    .flatpickr-day.selected {
        background-color: #007bff; /* Matches Bootstrap primary color */
        color: #fff;
    }

    .flatpickr-day.today {
        border: 1px solid #007bff;
    }

.flatpickr-calendar {
    z-index: 1050; /* Matches Bootstrap's modal z-index */
}