@using CarRentals.Data.ViewModels
@model LoginAndRegistrationViewModel

@{
    ViewData["Title"] = "Index";
}


<div class="container my-5 pt-5">

    <div class="row grid gap-3 justify-content-center">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <!-- Log In Column -->
        <div class="col-lg-5 bg-light py-5">
            <h4>LOGGA IN</h4>
            <hr />
            <form asp-action="Authenticate" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group mb-3">
                    <label asp-for="LoginViewModel.Email" class="control-label"></label>
                    <input asp-for="LoginViewModel.Email" class="form-control" />
                    <span asp-validation-for="LoginViewModel.Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="LoginViewModel.Password" class="control-label"></label>
                    <input asp-for="LoginViewModel.Password" class="form-control" />
                    <span asp-validation-for="LoginViewModel.Password" class="text-danger"></span>
                </div>
                <input type="submit" value="Log in" class="btn btn-primary border-0" />
            </form>
        </div>

        <!-- Register as Customer Column -->
        <div class="col-lg-5 bg-light py-5">
            <h4>REGISTRERA SIG</h4>
            <hr />
            <form asp-action="Register" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group mb-3">
                    <label asp-for="RegistrationViewModel.Name" class="control-label"></label>
                    <input asp-for="RegistrationViewModel.Name" class="form-control" />
                    <span asp-validation-for="RegistrationViewModel.Name" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="RegistrationViewModel.Email" class="control-label"></label>
                    <input asp-for="RegistrationViewModel.Email" class="form-control" />
                    <span asp-validation-for="RegistrationViewModel.Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="RegistrationViewModel.Password" class="control-label"></label>
                    <input asp-for="RegistrationViewModel.Password" class="form-control" />
                    <span asp-validation-for="RegistrationViewModel.Password" class="text-danger"></span>
                </div>
                <input type="submit" value="Register" class="btn btn-primary border-0" />
            </form>
        </div>
    </div>
</div>
