@if (ViewBag.Status != null)
{
    <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none text-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="~/images/profile-image.jpg" alt="~profile-picture" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
            @if (ViewBag.Type == "Customer")
            {
                <li><a class="dropdown-item" asp-area="CustomerArea" asp-controller="Bookings" asp-action="Index">Mina bokningar</a></li>
            }

            @if (ViewBag.Type == "Admin")
            {
                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="Index">Adminsida</a></li>
                
            }
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" asp-area="CustomerArea" asp-controller="Home" asp-action="Logout">Logga ut</a></li>
        </ul>
    </div>
}
else
{
    <div class="text-end">
        <button type="button" class="btn btn-primary border-0 btn-sm px-4 me-md-2">
            <a class="text-black text-decoration-none" asp-area="CustomerArea" asp-controller="Home" asp-action="Index">Logga in</a>
        </button>
    </div>
}