<h1>LOGGED IN!</h1>


<a class="btn" asp-area="Admin" asp-controller="Home" asp-action="Logout">Logga ut</a>

<a class="btn" asp-area="Admin" asp-controller="Cars" asp-action="Index">Cars</a>


<a class="btn" asp-area="Admin" asp-controller="Customers" asp-action="Index">Customers</a>

<a class="btn" asp-area="Admin" asp-controller="Bookings" asp-action="Index">Bookings</a>